#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
# 
#   http:\/\/www.apache.org\/licenses\/LICENSE-2.0
# 
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
scripts=["create group loganalytics",
      "create path \/apps\/sling-cms\/content\/start(sling:Page)",
      "create path \/apps\/sling-cms\/content\/start\/jcr:content(nt:unstructured)",
      "create path \/apps\/sling-cms\/content\/start\/jcr:content\/nav(nt:unstructured)",
      "create path \/apps\/sling-cms\/content\/start\/jcr:content\/nav\/toolsnav(nt:unstructured)",
      "create path \/apps\/sling-cms\/content\/start\/jcr:content\/nav\/toolsnav\/links(nt:unstructured)",
      "create path \/apps\/sling-cms\/content\/start\/jcr:content\/nav\/toolsnav\/links\/loganalytics(nt:unstructured)",
      "set properties on \/apps\/sling-cms\/content\/start\/jcr:content\/nav\/toolsnav\/links\/loganalytics\r\n  set sling:orderBefore{String} to mappings\r\n  set alternatives{String} to \/cms\/loganalytics\r\n  set enabledGroups{String} to administrators, loganalytics\r\n  set link{String} to \/cms\/loganalytics\/list.html\/etc\/loganalytics\/reports\r\n  set text{String} to \"Log Analytics\"\r\nend"]
references=[]